@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin align {
    padding-top: 0.15rem;
}
@mixin text-style($weight, $size) {
    font-weight: $weight;
    font-size: $size;
}
@mixin homepage-title {
    @include text-style(700, 24px);
}
@mixin menu-title {
    font-family: $title-font;
    font-weight: 400;
    font-size: 28px;
}
@mixin text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
}
@mixin checkmark-transition($property) {
    transition: $property 250ms ease-out;
}
@mixin footer-flex($width, $gap) {
    display: flex;
    flex-direction: column;
    gap: 0.44rem;
    @media (min-width: $width) {
            flex-direction: row;
            gap: $gap;
        }
}