$first-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;
$tc-darker: color.adjust($third-color, $saturation: 68%, $lightness: -48%);
$fourth-color: #353535;
$button-color: linear-gradient(170deg, $second-color 0%, $first-color 100%);
$bubble-color: linear-gradient(190deg, $second-color 5%, $first-color 50%, $third-color 100%);
$main-bg-color: #F3F3F3;
$main-font: 'Roboto';
$title-font: 'Shrikhand';
$checkmark-width: 3.5rem;

// Menu parts animation
$part-duration: 600ms;
$part-delay: 600ms;
$max-parts: 3;
$item-duration: 500ms;
$item-delay: 500ms;
$max-items: 4;
$base-delay: ($max-items * $item-delay + $part-delay);