$first-color: #9356DC;
$fc-lighter: color.scale($first-color, $lightness: 15%);
$second-color: #FF79DA;
$sc-lighter: color.scale($second-color, $lightness: 15%);
$third-color: #99E2D0;
$tc-darker: color.adjust($third-color, $saturation: 68%, $lightness: -48%);
$fourth-color: #353535;
$button-color: linear-gradient(170deg, $second-color 0%, $first-color 100%);
$bc-lighter: linear-gradient(170deg, $sc-lighter 0%, $fc-lighter 100%);
$main-bg-color: #F3F3F3;
$main-font: 'Roboto';
$title-font: 'Shrikhand';
$checkmark-width: 3.5rem;