@use 'sass:color';

@import 'settings/variables';
@import 'settings/mixins';
@import 'settings/keyframes';

// General
body {
    margin: 0;
    background: $main-bg-color;
    font-family: $main-font;
}

a {
    color: black;
    text-decoration: none;
}

p, h1, h2, h3 {
    margin: 0;
}

@import 'modules/loader';
@import 'modules/header';
@import 'modules/footer';
@import 'modules/cta';
@import 'modules/heart-checkbox';
@import 'pages/homepage';
@import 'pages/menu';