@keyframes slide-in {
  from {
    transform: translateX(-300px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(360deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) scale(0);
    opacity: 0;
  }
}
@keyframes fade-out {
  to {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
body {
  margin: 0;
  background: #F3F3F3;
  font-family: "Roboto";
}

a {
  color: black;
  text-decoration: none;
}

p, h1, h2, h3 {
  margin: 0;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  gap: 1rem;
  width: 100%;
  height: 100%;
  background: #F3F3F3;
  animation: fade-out 400ms ease-out 2600ms forwards;
}
.loader__bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 3rem;
  width: 5rem;
  height: 5rem;
  box-sizing: border-box;
  border-radius: 50%;
  font-family: "Shrikhand";
  font-size: 22px;
  color: white;
  box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.3), inset 5px 5px 12px rgba(0, 0, 0, 0.2);
  background: radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.5), transparent 40%);
}
.loader__bubble--1 {
  animation: spin 2400ms ease-in-out forwards;
  animation-delay: 0ms;
}
.loader__bubble--2 {
  animation: spin 2400ms ease-in-out forwards;
  animation-delay: 200ms;
}
.loader__bubble--3 {
  animation: spin 2400ms ease-in-out forwards;
  animation-delay: 400ms;
}
.loader__bubble--1 {
  background-color: #FF79DA;
}
.loader__bubble--2 {
  background-color: #9356DC;
}
.loader__bubble--3 {
  background-color: #99E2D0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.1rem;
  height: 3.94rem;
  background: white;
}
@media (min-width: 1024px) {
  .header {
    height: 6rem;
  }
}
.header__link {
  width: 17px;
  height: 16px;
  position: absolute;
  left: 1.88rem;
}
.header__link--hidden {
  visibility: hidden;
}
.header__icon {
  font-size: 18px;
  color: #353535;
}
.header__logo {
  width: 162px;
  height: 27.5px;
  padding-top: 0.15rem;
}
@media (min-width: 1024px) {
  .header__logo {
    width: 200px;
    height: 34px;
  }
}
.header--shadow {
  position: relative;
  z-index: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
@media (min-width: 1024px) {
  .header--shadow {
    box-shadow: none;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  background: #353535;
  padding: 1.37rem 1.56rem;
}
@media (min-width: 1024px) {
  .footer {
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 3.57rem 4.13rem 1.88rem;
  }
}
.footer__logo {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
  color: white;
  padding-bottom: 1rem;
}
@media (min-width: 1024px) {
  .footer__logo {
    padding: 0 0 0 5.63rem;
  }
}
.footer__content {
  display: flex;
  flex-direction: column;
  gap: 0.44rem;
}
@media (min-width: 768px) {
  .footer__content {
    flex-direction: row;
    gap: 2.75rem;
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 0.44rem;
}
@media (min-width: 1024px) {
  .footer__container {
    flex-direction: row;
    gap: 1rem;
  }
}
.footer__link {
  font-weight: 400;
  font-size: 16px;
  color: white;
}
.footer__link--bold {
  font-weight: 500;
}
.footer__icon {
  padding-right: 0.63rem;
  font-size: 13px;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11.63rem;
  height: 3.13rem;
  background: linear-gradient(170deg, #FF79DA 0%, #9356DC 100%);
  font-weight: 500;
  font-size: 16px;
  color: white;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
  transition: box-shadow 300ms ease-out;
}
.cta--bigger {
  width: 13.63rem;
}
.cta::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 300ms ease-out;
}
.cta:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.cta:hover::after {
  opacity: 0.15;
}

.heart-checkbox {
  display: none;
}
.heart-checkbox + .heart-label {
  display: inline-block;
  width: 22px;
  height: 21px;
  background: url("/assets/images/icons/heart.svg");
  cursor: pointer;
}
.heart-checkbox:checked + .heart-label {
  background: url("/assets/images/icons/heart-filled.svg");
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero__loc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
  background: #eaeaea;
  color: #353535;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (min-width: 1024px) {
  .hero__loc {
    box-shadow: none;
  }
}
.hero__text {
  font-weight: 500;
  font-size: 16px;
  padding-top: 0.15rem;
}
.hero__title {
  font-weight: 700;
  font-size: 24px;
  margin: 2.44rem 0 1rem;
}
@media (min-width: 1024px) {
  .hero__title {
    font-size: 40px;
    margin: 1.88rem 0;
  }
}
.hero__subtitle {
  font-weight: 300;
  font-size: 18px;
  color: #353535;
}
.hero__button {
  margin: 1.69rem 0 3.56rem;
  transition: opacity 300ms ease-out;
}
@media (min-width: 1024px) {
  .hero__button {
    margin: 1.88rem 0;
  }
}

.about {
  padding: 3rem 1.25rem;
  background: white;
}
@media (min-width: 1024px) {
  .about {
    padding: 3.12rem 1.25rem;
  }
}
@media (min-width: 1440px) {
  .about {
    padding: 3.12rem 11.25rem;
  }
}
.about__title {
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 1.5rem;
}
.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 0.38rem;
}
@media (min-width: 768px) {
  .about__container {
    left: 0;
  }
}
@media (min-width: 1024px) {
  .about__container {
    flex-direction: row;
    justify-content: space-between;
    left: 0.75rem;
  }
}
.about__item {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.25rem;
  padding: 1.56rem 2.1rem;
  max-width: 20.16rem;
  width: 100%;
  box-sizing: border-box;
  background: #F3F3F3;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.about__item-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  background: #9356DC;
  border-radius: 50px;
  font-weight: 500;
  font-size: 14.2px;
  color: white;
  position: relative;
  right: 2.85rem;
}
.about__item-content {
  display: flex;
  align-items: center;
  position: relative;
  right: 1.35rem;
}
.about__item-icon {
  padding-right: 1.5rem;
  font-size: 18px;
  color: #353535;
}
.about__item-icon--purple {
  color: #9356DC;
}
.about__item-text {
  font-weight: 500;
  font-size: 16px;
  padding-top: 0.15rem;
}

.restaurants {
  padding: 3rem 1.25rem 1.87rem;
}
@media (min-width: 768px) {
  .restaurants {
    padding: 1.88rem 1.25rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 1440px) {
  .restaurants {
    padding: 1.88rem 11.25rem;
    margin-bottom: 3.12rem;
  }
}
.restaurants__title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 1.25rem;
}
@media (min-width: 768px) {
  .restaurants__container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }
}
@media (min-width: 1440px) {
  .restaurants__container {
    display: flex;
    flex-wrap: wrap;
    gap: 6.25rem;
  }
}
.restaurants__link {
  display: block;
  height: 15.69rem;
  margin-bottom: 1.13rem;
}
@media (min-width: 768px) {
  .restaurants__link {
    width: calc((100% - 3rem) / 2);
    margin-bottom: -1rem;
  }
}
@media (min-width: 1440px) {
  .restaurants__link {
    width: calc((100% - 6.25rem) / 2);
    margin-bottom: -3.12rem;
  }
}
.restaurants__card {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 15px;
  position: relative;
}
.restaurants__card--new::after {
  content: "Nouveau";
  position: absolute;
  top: 0.81rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 1.81rem;
  background: #99E2D0;
  border-radius: 2px;
  font-weight: 500;
  font-size: 14px;
  color: #008665;
}
.restaurants__card-image {
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 62%;
     object-position: 50% 62%;
  border-radius: 15px 15px 0 0;
}
.restaurants__card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.56rem 0.75rem 0.81rem;
}
.restaurants__card-title {
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 0.31rem;
}
.restaurants__card-text {
  font-weight: 300;
  font-size: 17px;
}
.restaurants__card-icon {
  margin: 0 0 0.4rem;
}

.menu {
  background: white;
}
.menu__image {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  margin-bottom: -3.7rem;
}
@media (min-width: 1024px) {
  .menu__image {
    height: 383px;
    margin-bottom: -2.5rem;
  }
}
.menu__content {
  padding: 2rem 0.81rem 2.5rem;
  position: relative;
  z-index: 1;
  background-color: #F3F3F3;
  border-radius: 40px 40px 0 0;
}
@media (min-width: 768px) {
  .menu__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 3.5rem;
    margin: 0 6rem;
  }
}
@media (min-width: 1024px) {
  .menu__content {
    padding: 2.5rem 7rem;
    margin: 0 8rem;
  }
}
@media (min-width: 1440px) {
  .menu__content {
    padding: 3.13rem 13.13rem 2.5rem;
    margin: 0 12rem;
  }
}
.menu__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.75rem 1.88rem 0.25rem;
}
@media (min-width: 768px) {
  .menu__heading {
    gap: 1.5rem;
    padding: 0 0 2.5rem;
  }
}
.menu__title {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 28px;
  padding-top: 0.15rem;
}
.menu__part {
  width: 100%;
  max-width: 39.63rem;
  padding-bottom: 2.5rem;
  opacity: 0;
  animation: slide-in 600ms ease-in-out forwards;
}
.menu__part--1 {
  animation-delay: 0ms;
}
.menu__part--1 .menu__item--1 {
  opacity: 0;
  animation: slide-in 500ms ease-in-out forwards;
  animation-delay: 600ms;
}
.menu__part--1 .menu__item--2 {
  opacity: 0;
  animation: slide-in 500ms ease-in-out forwards;
  animation-delay: 1100ms;
}
.menu__part--1 .menu__item--3 {
  opacity: 0;
  animation: slide-in 500ms ease-in-out forwards;
  animation-delay: 1600ms;
}
.menu__part--1 .menu__item--4 {
  opacity: 0;
  animation: slide-in 500ms ease-in-out forwards;
  animation-delay: 2100ms;
}
.menu__part--2 {
  animation-delay: 2600ms;
}
.menu__part--2 .menu__item--1 {
  opacity: 0;
  animation: slide-in 500ms ease-in-out forwards;
  animation-delay: 3200ms;
}
.menu__part--2 .menu__item--2 {
  opacity: 0;
  animation: slide-in 500ms ease-in-out forwards;
  animation-delay: 3700ms;
}
.menu__part--2 .menu__item--3 {
  opacity: 0;
  animation: slide-in 500ms ease-in-out forwards;
  animation-delay: 4200ms;
}
.menu__part--2 .menu__item--4 {
  opacity: 0;
  animation: slide-in 500ms ease-in-out forwards;
  animation-delay: 4700ms;
}
.menu__part--3 {
  animation-delay: 5200ms;
}
.menu__part--3 .menu__item--1 {
  opacity: 0;
  animation: slide-in 500ms ease-in-out forwards;
  animation-delay: 5800ms;
}
.menu__part--3 .menu__item--2 {
  opacity: 0;
  animation: slide-in 500ms ease-in-out forwards;
  animation-delay: 6300ms;
}
.menu__part--3 .menu__item--3 {
  opacity: 0;
  animation: slide-in 500ms ease-in-out forwards;
  animation-delay: 6800ms;
}
.menu__part--3 .menu__item--4 {
  opacity: 0;
  animation: slide-in 500ms ease-in-out forwards;
  animation-delay: 7300ms;
}
.menu__part-title {
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 0.25rem;
}
.menu__part-underline {
  width: 2.5rem;
  height: 0.19rem;
  background: #99E2D0;
}
.menu__checkbox {
  display: none;
}
.menu__checkbox:checked + .menu__item .menu__item-icon {
  width: 3.5rem;
}
.menu__checkbox:checked + .menu__item .menu__item-price {
  transform: translateX(-3.5rem);
}
.menu__checkbox:checked + .menu__item .menu__item-content {
  padding-right: 4.25rem;
}
.menu__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin-top: 0.75rem;
  padding: 0.87rem 0.94rem 0.81rem;
  width: 100%;
  box-sizing: border-box;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.menu__item-content {
  min-width: 0;
  transition: padding-right 250ms ease-out;
}
.menu__item-title {
  font-weight: 500;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
  padding-bottom: 0.31rem;
}
.menu__item-subtitle {
  font-weight: 300;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}
.menu__item-price {
  font-weight: 700;
  font-size: 15px;
  color: #353535;
  transition: transform 250ms ease-out;
}
.menu__item-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  border-radius: 0 15px 15px 0;
  background: #99E2D0 url("/assets/images/icons/checkmark.svg") no-repeat center/1.25rem;
  transition: width 250ms ease-out;
}
.menu__button {
  margin: 0 calc(50% - 5.81rem);
}