// Variables
$first-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;
$fourth-color: #353535;
$main-bg-color: #F3F3F3;
$main-font: 'Roboto';
$title-font: 'Shrikhand';

// Mixins
@mixin title-style {
    font-family: $title-font;
    font-size: 28px;
}

body {
    margin: 0;
    background: $main-bg-color;
    font-family: $main-font;
}

a {
    color: black;
    text-decoration: none;
}

// Header
.header {
    display: flex;
    align-items: center;
    padding: 0 1.88rem;
    gap: 4.1rem;
    height: 3.94rem;
    background: white;
    &__link {
        width: 17px;
        height: 16px;
        &--hidden {
            visibility: hidden;
        }
    }
    &__icon {
        font-size: 18px;
        color: $fourth-color;
        }
    &__logo {
        width: 162px;
        height: 27.5px;
        padding-top: 0.125rem;
    }
}