@use 'sass:color';

// Variables
$first-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;
$fourth-color: #353535;
$main-bg-color: #F3F3F3;
$main-font: 'Roboto';
$title-font: 'Shrikhand';

// Mixins
@mixin menu-title {
    font-family: $title-font;
    font-size: 28px;
}
@mixin text-style($weight, $size) {
    font-weight: $weight;
    font-size: $size;
}
@mixin homepage-title {
    @include text-style(700, 24px);
}
@mixin button {
    padding: 1rem 1.19rem;
    background: linear-gradient(158deg,rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%);
    @include text-style(500, 16px);
    color: white;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
@mixin align {
    padding-top: 0.15rem;
}

body {
    margin: 0;
    background: $main-bg-color;
    font-family: $main-font;
}

a {
    color: black;
    text-decoration: none;
}

p, h1, h2, h3 {
    margin: 0;
}

// Header
.header {
    display: flex;
    align-items: center;
    padding: 0 1.88rem;
    gap: 4.1rem;
    height: 3.94rem;
    background: white;
    &__link {
        width: 17px;
        height: 16px;
        &--hidden {
            visibility: hidden;
        }
    }
    &__icon {
        font-size: 18px;
        color: $fourth-color;
        }
    &__logo {
        width: 162px;
        height: 27.5px;
        @include align;
    }
    &--shadow {
        position: relative;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    }
}

// Footer
.footer {
    display: flex;
    flex-direction: column;
    background: $fourth-color;
    padding: 1.37rem 1.56rem;
    &__logo {
        font-family: $title-font;
        @include text-style(400, 18px);
        color: white;
        padding-bottom: 1rem;
    }
    &__container {
        display: flex;
        flex-direction: column;
        gap: 0.44rem;
    }
    &__link {
        @include text-style(400, 16px);
        color: white;
        &--bold {
            font-weight: 500;
        }
    }
}

// Homepage
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__loc {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
        width: 100%;
        background: color.adjust($fourth-color, $lightness: 71%);
        color: $fourth-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        &-text {
            @include text-style(500, 16px);
            @include align;
        }
    }
    &__title {
        @include homepage-title;
        margin: 2.44rem 0 1rem;
    }
    &__text {
        @include text-style (300, 18px);
        color: $fourth-color;
    }
    &__button {
        @include button;
        margin: 1.69rem 0 3.56rem;
    }
}