.menu {
    background: white;
    &__image {
        width: 100%;
        height: 275px;
        object-fit: cover;
        position: relative;
        margin-bottom: -3.7rem;
        @media (min-width: 1024px) {
            height: 383px;
            margin-bottom: -2.5rem;
        }
    }
    &__content {
        padding: 2rem 0.81rem 2.5rem;
        position: relative;
        z-index: 1;
        background-color: $main-bg-color;
        border-radius: 40px 40px 0 0;
        @media (min-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2.5rem 3.5rem;
            margin: 0 6rem;
        }
        @media (min-width: 1024px) {
            padding: 2.5rem 7rem;
            margin: 0 8rem;
        }
        @media (min-width: 1440px) {
            padding: 3.13rem 13.13rem 2.5rem;
            margin: 0 12rem;
        }
    }
    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.75rem 1.88rem 0.25rem;
        @media (min-width: 768px) {
            gap: 1.5rem;
            padding: 0 0 2.5rem;
        }
    }
    &__title {
        @include menu-title;
        @include align;
    }
    &__part {
        width: 100%;
        max-width: 39.63rem;
        padding-bottom: 2.5rem;
        opacity: 0;
        animation: slide-in $part-duration ease-in-out forwards;
        @for $part from 1 through $max-parts {
            &--#{$part} {
                animation-delay: ($part - 1) * $base-delay;
                @for $item from 1 through $max-items {
                    .menu__item--#{$item} {
                        opacity: 0;
                        animation: slide-in $item-duration ease-in-out forwards;
                        animation-delay: (($part - 1) * $base-delay) + $part-delay + ($item - 1) * $item-delay;
                    }
                }
            }
        }
        &-title {
            @include text-style(300, 16px);
            padding-bottom: 0.25rem;
        }
        &-underline {
            width: 2.5rem;
            height: 0.19rem;
            background: $third-color;
        }
    }
    &__checkbox {
        display: none;
        &:checked + .menu__item {
            .menu__item-icon {
                width: $checkmark-width;
            }
            .menu__item-price {
                transform: translateX(-$checkmark-width);
            }
            .menu__item-content {
                padding-right: calc($checkmark-width + 0.75rem);
            }
        }
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
        margin-top: 0.75rem;
        padding: 0.87rem 0.94rem 0.81rem;
        width: 100%;
        box-sizing: border-box;
        background: white;
        border-radius: 15px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.10);
        cursor: pointer;
        &-content {
            min-width: 0;
            @include checkmark-transition(padding-right);
        }
        &-title {
            @include text-style(500, 18px);
            @include text-ellipsis;
            padding-bottom: 0.31rem;
        }
        &-subtitle {
            @include text-style(300, 15px);
            @include text-ellipsis;
        }
        &-price {
            @include text-style(700, 15px);
            color: $fourth-color;
            @include checkmark-transition(transform);
        }
        &-icon {
            position: absolute;
            top: 0; right: 0;
            width: 0; height: 100%;
            border-radius: 0 15px 15px 0;
            background: $third-color url("../images/icons/checkmark.svg") no-repeat center / 1.25rem;
            @include checkmark-transition(width);
        }
    }
    &__button {
        margin: 0 calc(50% - 5.81rem);
    }
}