.header {
    @include flex-center;
    gap: 4.1rem;
    height: 3.94rem;
    background: white;
    @media (min-width: 1024px) {
        height: 6rem;
    }
    &--shadow {
        position: relative;
        z-index: 1;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        @media (min-width: 1024px) {
            box-shadow: none;
        }
    }
    &__link {
        width: 17px; height: 16px;
        position: absolute;
        left: 1.88rem;
        &--hidden {
            visibility: hidden;
        }
    }
    &__icon {
        font-size: 18px;
        color: $fourth-color;
        }
    &__logo {
        width: 162px; height: 27.5px;
        @include align;
        @media (min-width: 1024px) {
            width: 200px; height: 34px;
        }
    }
}