.loader {
    @include flex-center;
    position: fixed;
    top: 0; left: 0;
    z-index: 2;
    gap: 1rem;
    width: 100%; height: 100%;
    background: $main-bg-color;
    animation: fade-out 400ms ease-in-out forwards;
    animation-delay: 4600ms;
    &__bubble {
        @include flex-center;
        position: relative;
        bottom: 3rem;
        width: 5rem; height: 5rem;
        border: 2px solid white;
        box-sizing: border-box;
        border-radius: 50%;
        font-family: $title-font;
        font-size: 22px;
        color: white;
        transform: scale(0.6);
        @for $i from 1 through 3 {
            &--#{$i} {
                animation: pulse 4000ms ease-in-out forwards;
                animation-delay: ($i - 1) * 300ms;
            }
        }
        &--1 {
            background: $first-color;
        }
        &--2 {
            background: $second-color;
        }
        &--3 {
            background: $third-color;
        }
    }
}