.loader {
    @include flex-center;
    position: fixed;
    top: 0; left: 0;
    z-index: 2;
    gap: 1rem;
    width: 100%; height: 100%;
    background: $main-bg-color;
    animation: fade-out 400ms ease-out 2600ms forwards;
    &__bubble {
        @include flex-center;
        position: relative;
        bottom: 3rem;
        width: 5rem; height: 5rem;
        box-sizing: border-box;
        border-radius: 50%;
        font-family: $title-font;
        font-size: 22px;
        color: white;
        box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.3), inset 5px 5px 12px rgba(0, 0, 0, 0.2);
        background: radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.5), transparent 40%);
        @for $i from 1 through 3 {
            &--#{$i} {
                animation: spin 2400ms ease-in-out forwards;
                animation-delay: ($i - 1) * 200ms;
            }
        }
        &--1 {
            background-color: $second-color;
        }
        &--2 {
            background-color: $first-color;
        }
        &--3 {
            background-color: $third-color;
        }
    }
}